{% extends 'base.html' %}
{% load static %}

{% block content%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
  td,th{
    text-align: center;
  }
</style>
<div class="container">

  <div class="panel panel-danger">
    <div class="panel-heading" style="text-align:center;">
      <h6 class="panel-title">My deliveries</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
          <th>Customer</th>
          <th>Contact</th>
          <th>Shipment Address</th>
          <th>payable</th>
          <th>status</th> 
          <th>Product</th>
          <th>Image</th>
          <th>select</th> 
          <td>Action</td>

        </tr>
      </thead>
      {% for product,customer,order in data %}
      <tr>
        {% for c in customer %}
        <td> {{c.username}}</td>
        <td>{{order.phone}}</td>
        <td>{{order.address}}</td>
        <td>Rs.{{order.payable}}</td>
  <td>
                {{order.status}}
            </td>
        {% endfor %}
        {% for p in product %}
        <td> {{p.name}}</td>
        <td> <img src="{% static p.coverpage %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <!-- 
          {% if order.status == 'Pending'%}
          <td> <span class="label label-info">{{order.status}}</span></td>
          {% elif order.status == 'Delivered' %}
          <td> <span class="label label-success">{{order.status}}</span></td>
          {% elif order.status == 'Out for Delivery' %}
          <td> <span class="label label-warning">{{order.status}}</span></td>
          {%else%}
            <td> <span class="label label-primary">{{order.status}}</span></td>
          {%endif%} -->
        {% endfor %}
        <form action="{% url 'update_order' order.id %}" method="POST">
            {% csrf_token %}
            <td>
                <select name="stage">

                    <option value="{{order.status}}">{{order.status}}</option>
                    <option value="packed">packed</option>
                    <option value="shipped">shipped</option>
                    <option value="delivered">delivered</option>
                </select>
            </td>
            <td>
                <button>
                    submit
                </button>
            </td>
        </form>
        
        
      </tr>
      {% endfor %}

    </table>

  </div>
</div> 
  {%endblock%}